.social-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }

  .social-line {
    width: 22px;
    height: 0px;

    color: rgba(33, 33, 33, 0.2);
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
